langchain
langchain-core
langchain-community
langchain-chroma

langchain-groq
langchain-mistralai
langchain-google-genai

chromadb

streamlit

python-dotenv
pydantic

pandas
numpy

GitPython

tiktoken

sentence-transformers

unstructured

tree-sitter
tree-sitter-python

rich

